.wrapper{
	width: 300px;
	height: 250px;
	margin: 50px auto;
	border: 1px solid #D5D8DD;
}
.wrapper .head{
	width: 300px;
	height: 33px;
	background-color: #008AC8;
}
.wrapper .head h1{
	padding-left: 11px;
	padding-top: 9px;
	color: #ffffff;
	font-family: tahoma;
	font-size: 14px;
}
.wrapper .content{}
.wrapper .content .picture{}
.wrapper .content .picture img{
	width: 125px;
	height: 92px;
	padding-left: 8px;
	padding-top: 10px;
	float: left;
}
.wrapper .content .content1{
	width: 147px;
	height: 92px;
	float: left;
	padding-top: 9px;
	padding-left: 7px;
}
.wrapper .content .content1 h2 a{
	text-decoration: none;
	text-align: justify;
	color: black;
	font-family: arial;
	font-size: 14px;
	line-height: 1.2;
}
.wrapper .content .content1 p{
	text-align: justify;
	padding-top: 9px;
	font-family: arial;
	font-size: 12px;
	line-height: 1.3;
	opacity: 0.8;
}

.wrapper .othercontent{
	width: 279px;
	padding-left: 9px;
	padding-top: 10px;
}
.wrapper .othercontent ul{}
.wrapper .othercontent ul li{
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: 1px dashed #CACACA;
}
.wrapper .othercontent ul li a{
	font-family: arial;
	font-size: 13px;
	text-decoration: none;
	color: black;
	opacity: 0.8;
	
	padding-left: 17px;
	background: url('images/h.jpg') no-repeat 2px center;
}

.clear{
	clear: both;
}




